footer {
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  border-top: solid 1px black;
  background-color: #c8d5b9;
  height: 5vh; 
  display: flex;
  align-items: center; 
  justify-content: center;
}
