nav {
  position: fixed;
<<<<<<< HEAD
  top: 0;
  width: 100vw;
=======
  top: 0; 
  width: 100%; 
>>>>>>> ee573fd7460b27a9df2b3a5e3406ac73c9def288
  border-bottom: solid 1px black;
  background-color: #c8d5b9;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.nav a {
  font-size: max(3vw, 30px);
  font-weight: bold;
  text-align: left;
  text-decoration: none;
}

a.title.active {
  color: #2e4d36;
}
a.all-posts-link.active {
  color: #2e4d36;
}
<<<<<<< HEAD
a.create-post-link.active {
  color: #2e4d36;
=======
a.create-post-link {
  color: #2e4d36; 
>>>>>>> ee573fd7460b27a9df2b3a5e3406ac73c9def288
}

.links {
  justify-content: flex-end;
}

.links a {
  font-size: 18px;
  margin-left: 20px;
}
