nav {
  position: fixed;
  top: 0; 
  width: 100vw; 
  border-bottom: solid 1px black;
  background-color: #c8d5b9; 
}

.nav {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  margin: 20px; 
}

.nav a {
  color: #2e4d36; 
  font-size: 30px;
  font-weight: bold; 
  text-align: left;
  text-decoration: none;
}

.links {
  justify-content: flex-end; 
}

.links a {
  font-size: 18px;
  margin-left: 20px; 
}